.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}


.body{
    background-image: linear-gradient(to left, white 50%, #f3fbfb 0%);
    background-position: center, -21rem 0rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 1.5rem;
    text-align: center;
    border: none;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: justify;
}

.body .modV{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body .boyImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body .Mision{
    width: 100%;
}

.Vision{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #f3fbfb;
    background-size: 100%, 100rem;
    padding: 0;
    font-size: 1.5rem;
    text-align: justify;
}

.Vision .aside{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Vision .asImg{
    grid-row: 1/2;
}
.asideContendio{
    text-align: center;
    font-size: large;
}

@media screen and (max-width: 700px){
    .body{
        background-image: linear-gradient(to top, white 50%, #f3fbfb 0%);
        background-position: center, -21rem 0rem;
        padding: 0;
        display: block;
    }
    .Vision{
        display: block;
        background-image: linear-gradient(to bottom, white 50%, #f3fbfb 0%);
        background-size: 100%, 100rem;
        padding: 0;
    }
}