.aside{
    display: flex;
    justify-content: end;
    
}

.body{
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 2rem 0;
    
}

.aside{
    grid-column: 3/4;
    grid-row: inherit;
}

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.aside .asideContenido{
    border: 1px solid red;
    padding: 2rem;
}