.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}


.tabla{
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    border: 0.1rem solid gray;
    text-align: center;
    border-collapse: collapse;}

    @media screen and (max-width: 600px) {
        table {
            border: 0;
            width:100%;
        }
        tr{
            display: block;
        }
        th{
            display: block;
            text-align: start;
        }
        td{
            display: block;
        }
 }