html{ /**Se recomienda usarlo siempre para evitar fallos a la hora del diseño de tu pag web**/
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
  *, *:before, *:after{
    box-sizing: inherit;
}
.footer .footerCopy{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #1fb19d;
}