
.footer{
    position: absolute;
    bottom: 0;
    height: 6rem;
    width: 100%;
    background-color: rgb(148, 148, 148);
}

.footer .footerCopy{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: auto;
}